@import url(http://fonts.googleapis.com/css?family=Wendy+One);
/* === basic settings === */
body {
  background:  url(../img/body_bg.png) repeat-x 0 0;
  margin-left: 80px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
a {
  color: #85eebe;
  text-decoration: none;
}
a:hover {
  color: #1ed682;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Wendy One;
}
/* === preloader === */
.preloader {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/preloader.gif) no-repeat center top;
  font-size: 30px;
}
.preloader .intro-text {
  text-align: center;
  margin-top: 40px;
  font-family: 'Wendy One';
}
/* === scenery, clouds, mountains and beasts === */
.scenery {
  overflow: hidden;
}
.clouds {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  height: 384px;
  background: url(../img/clouds.png) repeat-x 0 0;
}
.mountains {
  background-repeat: repeat-x;
  min-height: 100px;
}
/* Remove the comment tags for an extra mountian range */
/*.mountains3 {
  background-image: url(../img/mountains3.png);
  background-position: -5% 0;
  padding-top: 100px;
  margin-top: -40px;
}*/
.mountains2 {
  background-image: url(../img/mountains2.png);
  background-position: -45% 0;
  padding-top: 60px;
}
.mountains1 {
  background-image: url(../img/mountains1.png);
  background-position: -95% 0;
  position: relative;
  padding-top: 55px;
}
.beast {
  background: url(../img/beasts.png) no-repeat 0 105px;
  width: 112px;
  height: 105px;
  position: absolute;
  display: none;
}
.beast_small {
  top: -31px;
}
.backgroundsize .beast_small {
  top: 1px;
  width: 78.39999999999999px;
  height: 73.5px;
  /* Firefox */

  -moz-background-size: auto 100%;
  /* WebKit */

  -webkit-background-size: auto 100%;
  /* Opera 9.5+, later Google Chrome */

  background-size: auto 100%;
}
.beast_big {
  top: -42px;
}
.grass1 {
  position: relative;
  background: url(../img/grass.png) repeat-x center 0;
  min-height: 110px;
}
.bushes {
  position: relative;
}
.bushes .bush1 {
  background: url(../img/bush1.png) no-repeat 17% bottom;
  height: 71px;
}
@media (max-width: 480px) {
  .bushes .bush1 {
    background-position: -25% bottom;
  }
}
.bushes .bush2 {
  background: url(../img/bush2.png) no-repeat 85% bottom;
  height: 93px;
}
@media (max-width: 480px) {
  .bushes .bush2 {
    background-position: 125% bottom;
  }
}
.grass2 {
  background: url(../img/grass_bg1.png) repeat-x center 0;
  height: 57px;
  margin-top: -15px;
}
.floatbox {
  position: relative;
  z-index: 10;
  position: absolute;
  top: 60px;
  left: 50%;
  background: url(../img/floatbox_bg.png);
  border: 3px solid #81a7b2;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 15px;
  text-align: center;
  width: 800px;
  margin-left: -420px;
}
@media (max-width: 767px) {
  .floatbox {
    top: 20px;
    left: 10px;
    right: 10px;
    margin-left: 0;
    width: auto;
  }
}
.page-404 .intro_message {
  font-size: 70px;
  line-height: 70px;
  margin: 0 auto 21px;
}
/* === countdown === */
.lt-ie8 .countdown {
  display: none;
}
.countdown {
  padding-top: 3px;
  text-align: center;
}
@media (max-width: 600px) {
  .countdown {
    display: none;
  }
}
.countdown .countdown-container {
  display: inline-block;
}
.countdown .countdown-section {
  margin: 0 15px;
  float: left;
}
.countdown .countdown-section .countdown-label {
  clear: both;
  margin-top: -10px;
  font-size: 11px;
  color: #84bfd1;
  text-align: center;
}
.countdown .countdown-section .digit {
  padding: 6px 0;
  width: 32px;
  height: 45px;
  float: left;
  font-family: 'Wendy One';
  font-size: 45px;
  text-shadow: -1px 2px 15px rgba(0, 0, 0, 0.7);
}
.countdown .countdown-section .digit > span {
  text-align: center;
  display: block;
  line-height: 45px;
}
.countdown .countdown-section .digit > span:last-child {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
}
/* === follow us section & social buttons === */
.social {
  background: url(../img/delimeter_hor.png) repeat-x center top;
  padding-top: 28px;
  margin-top: 28px;
  font-size: 24px;
  line-height: 50px;
}
@media (max-width: 767px) {
  .social .follow-text {
    display: block;
  }
}
.social .social-link {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: opacity 0.75s linear;
  -moz-transition: opacity 0.75s linear;
  -o-transition: opacity 0.75s linear;
  transition: opacity 0.75s linear;
  -moz-opacity: 0.45;
  -khtml-opacity: 0.45;
  -webkit-opacity: 0.45;
  opacity: 0.45;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=45)";
}
.social .social-link:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
  text-decoration: none;
}
@media (max-width: 767px) {
  .social .social-link {
    margin: 0 7px;
  }
}
.social .social-link.pmc {
  background-image: url("../img/icons/pmc.png");
}
.social .social-link.android {
  background-image: url("../img/icons/android.png");
}
.social .social-link.apple {
  background-image: url("../img/icons/apple.png");
}
.social .social-link.appstore {
  background-image: url("../img/icons/appstore.png");
}
.social .social-link.behance {
  background-image: url("../img/icons/behance.png");
}
.social .social-link.blogger {
  background-image: url("../img/icons/blogger.png");
}
.social .social-link.delicious {
  background-image: url("../img/icons/delicious.png");
}
.social .social-link.deviantart {
  background-image: url("../img/icons/deviantart.png");
}
.social .social-link.digg {
  background-image: url("../img/icons/digg.png");
}
.social .social-link.dribbble {
  background-image: url("../img/icons/dribbble.png");
}
.social .social-link.dropbox {
  background-image: url("../img/icons/dropbox.png");
}
.social .social-link.ebay {
  background-image: url("../img/icons/ebay.png");
}
.social .social-link.facebook {
  background-image: url("../img/icons/facebook.png");
}
.social .social-link.flickr {
  background-image: url("../img/icons/flickr.png");
}
.social .social-link.forrst {
  background-image: url("../img/icons/forrst.png");
}
.social .social-link.google {
  background-image: url("../img/icons/google.png");
}
.social .social-link.googledisc {
  background-image: url("../img/icons/googledisc.png");
}
.social .social-link.googleplus {
  background-image: url("../img/icons/googleplus.png");
}
.social .social-link.hotmail {
  background-image: url("../img/icons/hotmail.png");
}
.social .social-link.html5 {
  background-image: url("../img/icons/html5.png");
}
.social .social-link.instagram {
  background-image: url("../img/icons/instagram.png");
}
.social .social-link.lastfm {
  background-image: url("../img/icons/lastfm.png");
}
.social .social-link.linkedin {
  background-image: url("../img/icons/linkedin.png");
}
.social .social-link.myspace {
  background-image: url("../img/icons/myspace.png");
}
.social .social-link.paypal {
  background-image: url("../img/icons/paypal.png");
}
.social .social-link.picasa {
  background-image: url("../img/icons/picasa.png");
}
.social .social-link.pinterest {
  background-image: url("../img/icons/pinterest.png");
}
.social .social-link.rss {
  background-image: url("../img/icons/rss.png");
}
.social .social-link.skype {
  background-image: url("../img/icons/skype.png");
}
.social .social-link.soundcloud {
  background-image: url("../img/icons/soundcloud.png");
}
.social .social-link.stumbleupon {
  background-image: url("../img/icons/stumbleupon.png");
}
.social .social-link.technorati {
  background-image: url("../img/icons/technorati.png");
}
.social .social-link.tumblr {
  background-image: url("../img/icons/tumblr.png");
}
.social .social-link.twitter {
  background-image: url("../img/icons/twitter.png");
}
.social .social-link.vimeo {
  background-image: url("../img/icons/vimeo.png");
}
.social .social-link.windows {
  background-image: url("../img/icons/windows.png");
}
.social .social-link.wordpress {
  background-image: url("../img/icons/wordpress.png");
}
.social .social-link.yahoo {
  background-image: url("../img/icons/yahoo.png");
}
.social .social-link.youtube {
  background-image: url("../img/icons/youtube.png");
}
/* === content area === */
.content-area {
  background: #317588;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2a6d80), color-stop(1, #377a8e));
  background: -ms-linear-gradient(bottom, #2a6d80, #377a8e);
  background: -moz-linear-gradient(center bottom, #2a6d80 0%, #377a8e 100%);
  background: -o-linear-gradient(#377a8e, #2a6d80);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#377a8e', endColorstr='#2a6d80', GradientType=0)";
  min-height: 20px;
  margin-top: -20px;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .content-area {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.content-section {
	margin-left:20px;
	margin-right:20px;	
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
}
@media (min-width: 768px) {
  .content-section-bordered:after,
  .content-section-bordered:before {
    content: " ";
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background: url(../img/delimeter.png) no-repeat 0 center;
  }
  .content-section-bordered:before {
    left: -12px;
  }
  .content-section-bordered:after {
    right: -12px;
  }
}
.section-title {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
/* === latest tweets === */
.tweet_list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
.tweet_list li {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5em;
  list-style-type: none;
}
.tweet_list .tweet_avatar {
  padding-right: .5em;
  float: left;
}
.tweet_list .tweet_avatar img {
  vertical-align: middle;
}
.tweet_time {
  float: right;
  margin-left: 5px;
  font-size: 11px;
}
/* === thumbnails === */
.thumbnails-holder {
  margin-left: -20px;
  overflow: hidden;
}
.thumbnails-holder .thumb {
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}
.thumbnails-holder .thumb a {
  display: block;
  border: 3px solid #fff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.thumbnails-holder .thumb a img {
  width: 80px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media (max-width: 979px) and (min-width: 768px) {
  .thumbnails-holder .thumb a img {
    width: 56px;
  }
}
@media (min-width: 1200px) {
  .thumbnails-holder .thumb a img {
    width: 104px;
  }
}
/* === page footer === */
.page-footer {
  height: 48px;
}
.page-footer .footer-top-bg {
}
.page-footer .footer-content-wrapper {
  background: #0c4b5d;
}
.page-footer .footer-content-wrapper .footer-content {
  position: relative;
  z-index: 10;
  color: #84bfd1;
  height: 100%;
  text-align: center;
  line-height: 48px;
  font-size: 12px;
}
/* === pattern overlay === */
.pattern {
  background: url(../img/pattern.png);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 5;
}
.lt-ie8 .pattern {
  display: none;
}
/* === prettyphoto === */
div.pp_default .pp_top,
div.pp_default .pp_top .pp_middle,
div.pp_default .pp_top .pp_left,
div.pp_default .pp_top .pp_right,
div.pp_default .pp_bottom,
div.pp_default .pp_bottom .pp_left,
div.pp_default .pp_bottom .pp_middle,
div.pp_default .pp_bottom .pp_right {
  height: 13px;
}
div.pp_default .pp_top .pp_left {
  background: url(../img/prettyPhoto/default/sprite.png) -78px -93px no-repeat;
}
div.pp_default .pp_top .pp_middle {
  background: url(../img/prettyPhoto/default/sprite_x.png) top left repeat-x;
}
div.pp_default .pp_top .pp_right {
  background: url(../img/prettyPhoto/default/sprite.png) -112px -93px no-repeat;
}
div.pp_default .pp_content .ppt {
  color: #f8f8f8;
}
div.pp_default .pp_content_container .pp_left {
  background: url(../img/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;
  padding-left: 13px;
}
div.pp_default .pp_content_container .pp_right {
  background: url(../img/prettyPhoto/default/sprite_y.png) top right repeat-y;
  padding-right: 13px;
}
div.pp_default .pp_next:hover {
  background: url(../img/prettyPhoto/default/sprite_next.png) center right no-repeat;
  cursor: pointer;
}
div.pp_default .pp_previous:hover {
  background: url(../img/prettyPhoto/default/sprite_prev.png) center left no-repeat;
  cursor: pointer;
}
div.pp_default .pp_expand {
  background: url(../img/prettyPhoto/default/sprite.png) 0 -29px no-repeat;
  cursor: pointer;
  width: 28px;
  height: 28px;
}
div.pp_default .pp_expand:hover {
  background: url(../img/prettyPhoto/default/sprite.png) 0 -56px no-repeat;
  cursor: pointer;
}
div.pp_default .pp_contract {
  background: url(../img/prettyPhoto/default/sprite.png) 0 -84px no-repeat;
  cursor: pointer;
  width: 28px;
  height: 28px;
}
div.pp_default .pp_contract:hover {
  background: url(../img/prettyPhoto/default/sprite.png) 0 -113px no-repeat;
  cursor: pointer;
}
div.pp_default .pp_close {
  width: 30px;
  height: 30px;
  background: url(../img/prettyPhoto/default/sprite.png) 2px 1px no-repeat;
  cursor: pointer;
}
div.pp_default .pp_gallery ul li a {
  background: url(../img/prettyPhoto/default/default_thumb.png) center center #f8f8f8;
  border: 1px solid #aaaaaa;
}
div.pp_default .pp_social {
  margin-top: 7px;
}
div.pp_default .pp_gallery a.pp_arrow_previous,
div.pp_default .pp_gallery a.pp_arrow_next {
  position: static;
  left: auto;
}
div.pp_default .pp_nav .pp_play,
div.pp_default .pp_nav .pp_pause {
  background: url(../img/prettyPhoto/default/sprite.png) -51px 1px no-repeat;
  height: 30px;
  width: 30px;
}
div.pp_default .pp_nav .pp_pause {
  background-position: -51px -29px;
}
div.pp_default a.pp_arrow_previous,
div.pp_default a.pp_arrow_next {
  background: url(../img/prettyPhoto/default/sprite.png) -31px -3px no-repeat;
  height: 20px;
  width: 20px;
  margin: 4px 0 0;
}
div.pp_default a.pp_arrow_next {
  left: 52px;
  background-position: -82px -3px;
}
div.pp_default .pp_content_container .pp_details {
  margin-top: 5px;
}
div.pp_default .pp_nav {
  clear: none;
  height: 30px;
  width: 110px;
  position: relative;
}
div.pp_default .pp_nav .currentTextHolder {
  font-family: Georgia;
  font-style: italic;
  color: #999;
  font-size: 11px;
  left: 75px;
  line-height: 25px;
  position: absolute;
  top: 2px;
  margin: 0;
  padding: 0 0 0 10px;
}
div.pp_default .pp_close:hover,
div.pp_default .pp_nav .pp_play:hover,
div.pp_default .pp_nav .pp_pause:hover,
div.pp_default .pp_arrow_next:hover,
div.pp_default .pp_arrow_previous:hover {
  opacity: 0.7;
}
div.pp_default .pp_description {
  font-size: 11px;
  font-weight: 700;
  line-height: 14px;
  margin: 5px 50px 5px 0;
  color: #000;
}
div.pp_default .pp_bottom .pp_left {
  background: url(../img/prettyPhoto/default/sprite.png) -78px -127px no-repeat;
}
div.pp_default .pp_bottom .pp_middle {
  background: url(../img/prettyPhoto/default/sprite_x.png) bottom left repeat-x;
}
div.pp_default .pp_bottom .pp_right {
  background: url(../img/prettyPhoto/default/sprite.png) -112px -127px no-repeat;
}
div.pp_default .pp_loaderIcon {
  background: url(../img/prettyPhoto/default/loader.gif) center center no-repeat;
}
div.pp_pic_holder a:focus {
  outline: none;
}
div.pp_overlay {
  background: #0c4b5d;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9500;
}
div.pp_pic_holder {
  display: none;
  position: absolute;
  width: 100px;
  z-index: 10000;
}
.pp_content {
  height: 40px;
  min-width: 40px;
}
* html .pp_content {
  width: 40px;
}
.pp_content_container {
  position: relative;
  text-align: left;
  width: 100%;
}
.pp_content_container .pp_left {
  padding-left: 20px;
}
.pp_content_container .pp_right {
  padding-right: 20px;
}
.pp_content_container .pp_details {
  float: left;
  margin: 10px 0 2px;
}
.pp_description {
  display: none;
  margin: 0;
}
.pp_social {
  float: left;
  margin: 0;
}
.pp_social .facebook {
  float: left;
  margin-left: 5px;
  width: 55px;
  overflow: hidden;
}
.pp_social .twitter {
  float: left;
}
.pp_nav {
  clear: right;
  float: left;
  margin: 3px 10px 0 0;
}
.pp_nav p {
  float: left;
  white-space: nowrap;
  margin: 2px 4px;
}
.pp_nav .pp_play,
.pp_nav .pp_pause {
  float: left;
  margin-right: 4px;
  text-indent: -10000px;
}
a.pp_arrow_previous,
a.pp_arrow_next {
  display: block;
  float: left;
  height: 15px;
  margin-top: 3px;
  overflow: hidden;
  text-indent: -10000px;
  width: 14px;
}
.pp_hoverContainer {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000;
}
.pp_gallery {
  display: none;
  left: 50%;
  margin-top: -50px;
  position: absolute;
  z-index: 10000;
}
.pp_gallery div {
  float: left;
  overflow: hidden;
  position: relative;
}
.pp_gallery ul {
  float: left;
  height: 35px;
  position: relative;
  white-space: nowrap;
  margin: 0 0 0 5px;
  padding: 0;
}
.pp_gallery ul a {
  border: 1px rgba(0, 0, 0, 0.5) solid;
  display: block;
  float: left;
  height: 33px;
  overflow: hidden;
}
.pp_gallery ul a img {
  border: 0;
}
.pp_gallery li {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
}
.pp_gallery li.default a {
  display: block;
  height: 33px;
  width: 50px;
}
.pp_gallery .pp_arrow_previous,
.pp_gallery .pp_arrow_next {
  margin-top: 7px !important;
}
a.pp_next {
  display: block;
  float: right;
  height: 100%;
  text-indent: -10000px;
  width: 49%;
}
a.pp_previous {
  display: block;
  float: left;
  height: 100%;
  text-indent: -10000px;
  width: 49%;
}
a.pp_expand,
a.pp_contract {
  cursor: pointer;
  display: none;
  height: 20px;
  position: absolute;
  right: 30px;
  text-indent: -10000px;
  top: 10px;
  width: 20px;
  z-index: 20000;
}
a.pp_close {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  line-height: 22px;
  text-indent: -10000px;
}
.pp_loaderIcon {
  display: block;
  height: 24px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 24px;
  margin: -12px 0 0 -12px;
}
#pp_full_res {
  line-height: 1 !important;
}
#pp_full_res .pp_inline {
  text-align: left;
}
#pp_full_res .pp_inline p {
  margin: 0 0 15px;
}
div.ppt {
  color: #fff;
  display: none;
  font-size: 17px;
  z-index: 9999;
  margin: 0 0 5px 15px;
}
div.pp_default .pp_content,
div.light_rounded .pp_content {
  background-color: #ffffff;
}
div.pp_default #pp_full_res .pp_inline,
div.light_rounded .pp_content .ppt,
div.light_rounded #pp_full_res .pp_inline,
div.light_square .pp_content .ppt,
div.light_square #pp_full_res .pp_inline,
div.facebook .pp_content .ppt,
div.facebook #pp_full_res .pp_inline {
  color: #000000;
}
div.pp_default .pp_gallery ul li a:hover,
div.pp_default .pp_gallery ul li.selected a,
.pp_gallery ul a:hover,
.pp_gallery li.selected a {
  border-color: #ffffff;
}
div.pp_default .pp_details {
  position: relative;
}
.pp_top,
.pp_bottom {
  height: 20px;
  position: relative;
}
* html .pp_top,
* html .pp_bottom {
  padding: 0 20px;
}
.pp_top .pp_left,
.pp_bottom .pp_left {
  height: 20px;
  left: 0;
  position: absolute;
  width: 20px;
}
.pp_top .pp_middle,
.pp_bottom .pp_middle {
  height: 20px;
  left: 20px;
  position: absolute;
  right: 20px;
}
* html .pp_top .pp_middle,
* html .pp_bottom .pp_middle {
  left: 0;
  position: static;
}
.pp_top .pp_right,
.pp_bottom .pp_right {
  height: 20px;
  left: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}
.pp_fade,
.pp_gallery li.default a img {
  display: none;
}
